body {
    margin: 0;
    height: 100vw;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    /* padding-top: 24px; */


}

.header-links {
    display: flex; 
    gap: 26px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #F9FAF8;
}

.container-1 {
    padding: 24px 400px 200px 400px;
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0;
    padding: 0;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 400px;
}

.hero-text p,
 a,
 .div-img {
    font-size: 18px;
    color: #E5E7EB;
}

.hero p,
.hero button {
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    justify-content: space-between;


    /* gap: 50px; */
}

.div-img {
    align-self: center;
    background-color: gray;
    padding: 100px 110px;

} 

.hero-button {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: white;
    font-weight: bold;

}

.hero-text button {
    width: 150px;
    background-color: #3882f6;
    border-radius:8px;
    border: none;
}


.container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 35px;
    margin-bottom: 200px;
}

.container-2 h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding-top: 35px;
}

.item-container {
    display: flex;
    gap: 50px;
}

.item {
    max-width: 150px;
}

.illustration {
    padding: 75px;
    border: 3px solid #3882f6;
    border-radius: 15px;
    margin-bottom: 10px;
}

.quote {
    display: flex;
    justify-content: flex-end;
    font-size: 36px;
    font-style: italic;
    font-weight: 250;
    color: #1F2937;
  
}

.container-3 {
    background-color: #E5E7EB;
    padding: 200px 475px 150px 475px;
    display: flex;
    flex-direction: column;
}

.quote-name {
    font-weight: bold;
    align-self: flex-end;
    padding-right: 50px;
    font-size: large;
}

.container-4 {
    display: flex;
    justify-content: center;
}

.call-to-action-background {
    background-color: #3882f6;
    flex-grow: 1;
    margin: 150px 400px 150px 400px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;


}

.container-4 ,
.call-to-action-button {
    color: white;
}


.call-to-action button {
    background-color: #3882f6;
    border: 2px solid white;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 8px;
}

.call-to-action-title,
.call-to-action button {
    font-weight: bold;
}


.call-to-action {
    display: flex;
    gap: 150px;

}

.call-to-action-desc {
    /* font-size: 18px; */
    color: #E5E7EB;
}

